@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;400;600&family=Raleway:wght@800&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 30px;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

header {
  text-align: center;
}
header h2 {
  font-size: 34px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
header h3 {
  font-size: 34px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
header p {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.box {
  background: white;
  border-radius: 6px;
  padding: 20px;
  text-align: right;
  box-shadow: 0 10px 10px -3px;
}

.box-text {
  text-align: left;
}

.left-box {
  border-top: 4px solid hsl(180, 62%, 55%);
  align-self: center;
}
.mid-top-box {
  border-top: 4px solid hsl(0, 78%, 62%);
}
.mid-bot-box {
  border-top: 4px solid hsl(34, 97%, 64%);
}
.right-box {
  border-top: 4px solid hsl(212, 86%, 64%);
  align-self: center;
}

.box-text h5 {
  font-size: 20px;
  color: hsl(234, 12%, 34%);
  margin-bottom: 10px;
}
